﻿body{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 0.85em;
	margin: 0px;
	padding: 0px;
}
.mainpage{
	width: 100%;
	height: auto;
	background: #fff;
    min-width: 1345px;
}
.top-header{
	height: 50px;
	background-color: #222;
    border-bottom: 1px solid #080808;
    top: 0;
    position: fixed;
    width: 100%;
}
.top-header .logo{
	float: left;
}
.top-header .logo .brand-name{
    float: left;
    font-size: 18px;
    line-height: 20px;
    padding: 15px;
    color: #9d9d9d;
}
.top-header .logo .brand-name:hover,
.top-header .logo .brand-name:focus{
	color: #fff;
}
.top-header .user{
	float: right;
}
.top-header .user ul{
	list-style: outside none none;
    margin: 0;
    padding: 0;
}
.top-header .user ul li{
	display: inline-block;
    float: left;
    position: relative;
}
.top-header .user ul li a{
	color: #999;
    line-height: 20px;
    padding: 15px;
    display: block;
    text-transform: capitalize;
}
.maincontent {
    height: auto;
    margin-top: 51px;
    width: 100%;
    min-width: 1340px;
}
.sidebarleft{
	width: 20%;
	min-width: 230px;
    max-width: 270px;
	background: #222;
	height: auto;
    min-height: 1234px;
	float: left;
	position: fixed;
}
.sidebarleft .menu {
    background: #222 none repeat scroll 0 0;
    height: auto;
    margin-top: 0;
    padding: 0px;
}
.sidebarleft .menu li{
	float: left;
	display: block;
	width: 100%;
}
.sidebarleft .menu li a{
	padding-bottom: 15px;
    padding-top: 15px;
    padding: 10px 15px;
    color: #9d9d9d;
    line-height: 20px;
    position: relative;
    display: block;
}
.top-header .user ul li a:focus,
.top-header .user ul li a:hover,
.sidebarleft .menu li a:focus,
.sidebarleft .menu li a:hover{
	background-color: #000;
    color: #fff;
}
a{
	text-decoration: none;
}
.sidebarright{
	float: right;
    padding: 0 22px 22px;
    width: 77%;
    min-width: 1036px;
}
.breadcrumb {
    background-color: #f5f5f5;
    border-radius: 4px;
    list-style: outside none none;
    margin-bottom: 15px;
    padding: 8px 15px;
}
.page-header {
    border-bottom: 1px solid #eee;
    margin: 10px 0;
    padding-bottom: 9px;
    font-size: 25px;
    font-weight: bold;
}
/******* Button *******/
.btn {
    -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.42857;
    padding: 2px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}
.btn-default {
    background-color: #fff;
    border-color: #ccc;
    color: #333;
}
.btn-default:hover {
    background-color: #e6e6e6;
    border-color: #adadad;
    color: #333;
}
.btn-info {
    background-color: #5bc0de;
    border-color: #46b8da;
    color: #fff;
}
.btn-info:hover {
    background-color: #31b0d5;
    border-color: #269abc;
    color: #fff;
}
.btn-warning {
    background-color: #f0ad4e;
    border-color: #eea236;
    color: #fff;
}
.btn-warning:hover {
    background-color: #ec971f;
    border-color: #d58512;
    color: #fff;
}
.btn-danger {
    background-color: #d9534f;
    border-color: #d43f3a;
    color: #fff;
    /*height: 27px;*/
}
.btn-danger:hover {
    background-color: #c9302c;
    border-color: #ac2925;
    color: #fff;
}
.clear{
	clear: both;
}