﻿<%@ Master Language="VB" AutoEventWireup="false" CodeBehind="Site.master.vb" Inherits="Loan_System.Site" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title>Loan System</title>
    <link href="css/style.css" rel="Stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"/>
    <link href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" rel="stylesheet"/>
    <script type="text/javascript" src="/js/jquery-1.8.2.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/ui/1.9.1/jquery-ui.js"></script>
    <asp:ContentPlaceHolder id="head" runat="server">

    </asp:ContentPlaceHolder>
    <style type="text/css">
        .classHidden
        {
            display:none;
        }
        .dropdown {
            position: relative;
            display: inline-block;
        }
        .dropdown-content {
            display: none;
            /*position: absolute;*/
            overflow: auto;
        }
        .show {
            display:block;
        }
    </style>
</head>
<body>
    <form id="form1" runat="server">
    <div class="mainpage">
		<div class="top-header">
			<div class="logo">
                <a class="brand-name" href="/Default.aspx">Loan System Admin</a>
            </div>
            <div class="user">
                <ul>
                    <li>
                        <a href="#"><i class="fa fa-user"></i> <asp:LoginName ID="LoginName2" runat="server" /></a>
                    </li>
                    <li>
                        <asp:LoginStatus ID="LoginStatus2" runat="server" LogoutText="&lt;i class=&quot;fa fa-fw fa-power-off&quot;&gt;&lt;/i&gt; Logout" />
                    </li>
                </ul>
            </div>
            <div class="clear"></div>
		</div>
		<div class="maincontent">
            <div class="sidebarleft">
                <ul class="menu">
                    <li class="dropdown">
                        <a href="#"  onclick="myFunction()" class="dropbtn"><i class="fa fa-bell"></i> Report Printing Menu <i class="fa fa-sort-desc" style="float: right;"></i>
</a>
                        <ul id="myDropdownReport" class="dropdown-content" style="padding: 0px; text-indent: 20px; font-size: 14px;">
                            <li>
                                <a href="#">Cash Transactions</a>
                            </li>
                            <li>
                                <a href="#">Disbursement Report</a>
                            </li>
                            <li>
                                <a href="#">Disbursement Report By Amount</a>
                            </li>
                            <li>
                                <a href="#">Daily Accrue Interest Incomes</a>
                            </li>
                            <li>
                                <a href="#">Maturity of Loans</a>
                            </li>
                            <li>
                                <a href="#">Active Client List By Location</a>
                            </li>
                            <li>
                                <a href="#">Quality Portfolio By CO</a>
                            </li>
                            <li>
                                <a href="#">Payment in Arrears</a>
                            </li>
                            <li>
                                <a href="#">List Of Loans Paid Off</a>
                            </li>
                            <li>
                                <a href="#">Field Collection Report</a>
                            </li>
                            <li>
                                <a href="#">Payment Completion</a>
                            </li>
                            <li>
                                <a href="#">Principal and Interest Collected</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#"  onclick="myFunction1()" class="dropbtn"><i class="fa fa-cog"></i> Setting <i class="fa fa-sort-desc" style="float: right;"></i>
</a>
                        <ul id="myDropdownSetting" class="dropdown-content myDropdown" style="padding: 0px; text-indent: 20px; font-size: 14px;">
                            <li>
                                <a href="/Default.aspx">User</a>
                            </li>
                            <li>
                                <a href="/Company/CompanyList.aspx">Company</a>
                            </li>
                            <li>
                                <a href="/Branch/BranchList.aspx">Branch</a>
                            </li>
                            <li>
                                <a href="/Country/CountryList.aspx">Country</a>
                            </li>
                            <li>
                                <a href="/Location/LocationList.aspx">Location</a>
                            </li>
                            <li>
                                <a href="/Officer/OfficerList.aspx">Officer</a>
                            </li>
                            <li>
                                <a href="/Product/ProductList.aspx">Product</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-fw fa-edit"></i> Create New Group</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-print"></i> Print Disbursal Document</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-file-text-o"></i> Payment Entry</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-fw fa-desktop"></i> EOD</a>
                    </li>
                </ul>
            </div>
            <div class="sidebarright">
                <section class="content-wrapper main-content clear-fix">
                    <asp:ContentPlaceHolder id="ContentPlaceHolder1" runat="server">
                    </asp:ContentPlaceHolder>
                </section>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</form>

<script type="text/javascript">
    $(function () {
        $(".datepicker").datepicker({
            dateFormat: 'dd-mm-yy'
        });
    });
</script>
    <script type="text/javascript">
        /* When the user clicks on the button, 
        toggle between hiding and showing the dropdown content */
        function myFunction() {
            document.getElementById("myDropdownReport").classList.toggle("show");
        }
        function myFunction1() {
            document.getElementById("myDropdownSetting").classList.toggle("show");
        }

        // Close the dropdown if the user clicks outside of it
        window.onclick = function (event) {
            if (!event.target.matches('.dropbtn')) {

                var dropdowns = document.getElementsByClassName("dropdown-content");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }
        }

</script>
</body>
</html>
