﻿<%@ Page Title="Edit Product" Language="vb" AutoEventWireup="false" MasterPageFile="~/Site.Master" CodeBehind="EditProduct.aspx.vb" Inherits="Loan_System.EditProduct" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <ol class="breadcrumb">
        <li class="active">
            <i class="fa fa-fw fa-flag"></i>  <%: Title %>
        </li>
    </ol>
</asp:Content>
